@import '../../styles/global';

.highlight {
    background-color: #82eacf;
}

.annotation-area {
    width: 100%;
}

.annotation {
    flex: 1;
    margin-left: 20px;
    background-color: #fff;
    padding: 20px 5px;
    border-radius: 8px;

    @media(max-width:767px) {
        display: none;
    }

    .annotation-title {
        @include barlow-condensed;
        font-weight: 600;
        font-size: 30px;
        text-transform: capitalize;
        border-bottom: 1px solid #2a2a2a;
    }
}

.annotation-edit {
    position: absolute;
    visibility: hidden;
    background-color: #2a2a2a;
    display: flex;
    width: 270px;
    border-radius: 18px;
    padding: 0 9px;

    .buttons-container {
        position: absolute;
        display: flex;
        background-color: #2a2a2a;
        border-radius: 18px 0 0 0;
        margin-left: -5px;
        button {
            border: unset;
            background-color: unset;
            padding: 2px 5px;
            border-radius: 18px 0 0 0;

            svg {
                width: 20px;
                height: 20px;
                fill: #82eacf;
            }

            &:active {
                background-color: unset;
            }
        }
    }

    .edit-box {
        border: unset;
        border-radius: 18px;
        outline: none !important;
        width: 100%;
        flex-wrap: wrap;
        background-color: #2a2a2a;
        color:#82eacf;
        word-wrap: break-word;
        overflow-y: hidden;

        @include roboto-sans-regular;
        font-weight: 500;
        font-size: 16px;
        letter-spacing: 0.1rem;
        line-height: 28px;
    }
}

.annotation-view {
    position: absolute;
    visibility: hidden;
    background-color: #2a2a2a;
    width: 270px;
    height: 100px;
    border-radius: 18px;
    padding: 0 9px;
    color:#82eacf;

    @include roboto-sans-regular;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.1rem;
    line-height: 28px;
}