@import '../../styles/global';

.modal {
    &.fade {
        &.show {
            opacity: 1.0;
        }
    }

    .modal-dialog {
        margin: 150px auto;

        @media(max-width:767px) {
            margin: 0;
        }

        .modal-content {
            .modal-header {
                display: flex;
                flex-direction: row;
                align-items: center;

                .modal-titel {
                    @include barlow-condensed;

                    font-style: normal;
                    font-size: 20px;
                    line-height: 24px;
                    text-decoration: none;
                    text-transform: uppercase;
                }

                .btn-close {
                    padding: 0 5px;
                    margin-left: auto;
                    background-color: unset;
                    font-weight: 700;
                    font-size: 24px;
                    text-shadow: 0 1px 0 #fff;
                    opacity: 0.5;
                }
            }

            .modal-body {
                .mb-3 {
                    margin-bottom: 5px;
                }

                .form-check {
                    margin-bottom: 10px;
                    display: flex;
                    align-items: center;
                    padding-left: 0;

                    .form-check-input {
                        margin: 0 5px 0 0;
                    }
                }

                .error {
                    color: red;
                    font-weight: 700;
                    font-size: 12px;
                }

                .msg {
                    margin-bottom: 1rem;
                    display: flex;
                    justify-content: center;

                    font-weight: 700;
                    font-size: 16px;

                    .success {
                        color: #82eacf;;
                    }

                    .error {
                        font-size: 16px;
                    }
                }

                .btn {
                    width: 100%;
                }

                .spinner {
                    margin: 0 auto;
                    width: 30px;
                    height: 30px;
                    border-width: 2px;
                    border-style: solid;
                    border-color: rgba(0,0,0,0.4) rgba(0,0,0,0.4) rgba(0,0,0,0.2) rgba(0,0,0,0.2);
                    opacity: 0.9;
                    border-radius: 20px;
                    animation: rotate 1s infinite linear;
                }

                @keyframes rotate {
                    0% {
                        -webkit-transform: rotate(0deg);
                    }

                    100% {
                        -webkit-transform: rotate(360deg);
                    }
                }
            }
        }
    }
}

.modal-backdrop {
    &.fade {
        &.show {
            opacity: 0.5;
        }
    }
}
