@import '../../../styles/global';

.tooltip {
    position: absolute;
    opacity: 1.0;

    .rc-tooltip-arrow {
        display: none;
    }

    .rc-tooltip-inner {
        background-color: white;
        padding: 0;
    }

    .content {
        padding: 24px 32px;
        display: flex;
        flex-direction: column;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            @include roboto-sans-regular;

            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            text-transform: capitalize;
            color: #767676;
            width: 190px;

            &:not(:first-child) {
                margin-top: 8px;
            }

            &:hover {
                color: #0c0c0c;
                font-weight: 700;
            }
        }
    }
}


