@import '../../styles/global';

.header {
    min-height: 60px;
    background-color: #0c0c0c;
}

.navbar {
    margin-bottom: 0;
    min-height: 60px;
}

.img {
    width: 24px;
    height: 24px;
}

ul {
    list-style: none;
}

.container-fluid {
    min-height: 60px;

    @media(max-width:767px) {
        padding: 0;
    }
}

.container {
    width: 1376px;
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 60px;

    @media(max-width:767px) {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        padding: 0;
    }

    span {
        padding-right: 5px;
    }
    
    .toggler {
        @media(max-width:767px) {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-left: 10px;
        }
        .navbar-toggler {
            display: none;

            @media(max-width:767px) {
                display: block;
            }
        }

        .logo {
            @media(max-width:767px) {
                display: block;
            }
        }
    }

    .navbar-collapse {
        width: 100%;
        display: flex !important;
        flex-direction: row;
        align-items: center;

        .navbar-nav {
            padding-left: 0;
            .nav-item {
                &:not(:last-child) {
                    padding-right: 20px;
                }

                @media(max-width:767px) {
                    padding: 10px 0;
                }
            }

            &.button {
                margin-left: auto;

                .btn:focus {
                    outline: unset;
                }
            }

            .nav-link, .btn {
                @include barlow-condensed;

                font-style: normal;
                font-size: 20px;
                line-height: 24px;
                text-decoration: none;
                text-transform: uppercase;

                opacity: 0.5;

                &:hover {
                    opacity: 1.0;
                }

                &.active {
                    opacity: 1.0;
                }
            }

            .nav-link {
                color: #82eacf;
            }
        }

        @media(max-width:767px) {
            display: none !important;
            padding: 0 0 0 10px;
            margin: 0;
            &.show {
                display: flex !important;
                flex-direction: column;
                align-items: flex-start;

                .navbar-nav {
                    margin: 0;
                    &.button {
                        margin-left: unset;
                    }
                }
            }
        }
    }
}


