@import '../../styles/global';

.header {
    width: 100%;
    min-height: 60px;
    background-color: #0c0c0c;
    display: flex;
    align-items: center;
}

.container {
    max-width: 1440px - 64px;
    padding: 18px 32px;
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    margin: 0 auto;
}

.logo {
    width: 24px;
    height: 24px;
}

i {
    padding-right: 5px;
}

.nav {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    list-style: none;

    .nav-link {
        padding-left: 10px;
        padding-right: 10px;

        @include barlow-condensed;

        font-style: normal;
        font-size: 20px;
        line-height: 24px;
        color: #82eacf;
        text-decoration: none;
        text-transform: uppercase;
    }
}

.button {
    margin-left: auto;
    background-color: #0c0c0c;

    @include barlow-condensed;

    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    color: #82eacf;
    text-decoration: none;
    text-transform: uppercase;
}