@mixin barlow-condensed {
  font-family: "BarlowCondensed", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

@mixin barlow-condensed-medium {
  font-family: "BarlowCondensed", Helvetica, Arial, sans-serif;
  font-weight: 500;
}

@mixin barlow-condensed-semi-bold {
  font-family: "BarlowCondensed", Helvetica, Arial, sans-serif;
  font-weight: 600;
}

@mixin barlow-condensed-bold {
  font-family: "BarlowCondensed", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

@mixin roboto-extra-light {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 100;
}

@mixin roboto-sans-regular {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
}